:root {
  --background: #a08e8e;
  --foreground: #4a3880;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #382c53;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  overflow: hidden;
}
